@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

.content {
    height: 100%;
    position: absolute;
    z-index: 2;
    width: 1800px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}


/* header */

header {
    height: 190px;
    width: 100%;
    background-color: black;
    position: relative;
    font-weight: 400;
}

header .content {
    justify-content: space-between;
}

header .logo {
    height: 100%;
    display: flex;
    align-items: center;
}

header .logo img {
    height: 70px;
}

header .menu {
    width: 1160px;
    height: 100%;
    color: white;
    font-size: 30px;
    display: flex;
}

header .menu ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    color: white;
}

header .menu ul a {
    color: white;
}

/* main */

.container-outer {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 2560px;
    margin: 0 auto;
}

.svg_full {display: block;}
.svg_1920 {display: none;}
.svg_1600 {display: none;}
.svg_1400 {display: none;}
.svg_1000 {display: none;}

/* main home */

.home section {
    height: 820px;
    width: 100%;
    position: relative
}

.home section.one {
    background-image: url("../images/001.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 65%;
    background-position-x: 900px;
}

.home section.two {
    background-image: url("../images/002.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-x: 0px;
}

.home section.three {
    background-image: url("../images/003.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    background-position-x: 900px;
}

.home section.four {
    background-image: url("../images/004.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: -50px;
    background-position-y: -300px;
}

.home section.one svg.svg_1,
.home section.three svg.svg_1 {
    fill:white;
    right: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
    z-index:1;
}

.home section.one svg.svg_2,
.home section.three svg.svg_2 {
    fill:white;
    left: 1740px;
    width: 4820px;
}

.home section.two svg.svg_1,
.home section.four svg.svg_1 {
    fill:white;
    right: 1740px;
    width: 4820px;
}

.home section.two svg.svg_2,
.home section.four svg.svg_2 {
    fill:black;
    left: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.home .box {
    width: 800px;
    height: 100%;
}

.home .box .title {
    border-bottom: 5px solid black;
    margin-top: 160px;
    margin-left: 130px;
    padding-bottom: 40px; 
}

.home .box .title h1 {
    font-weight: 300;
    font-size: 86px;
    text-transform: uppercase;
    line-height: 80px;
}

.home .box .title span {
    line-height: 80px;
    font-weight: 600;
}

.home .box p {
    margin: 50px 0 50px 130px;
    font-size: 24px;
    font-weight: 700;
}

.home .box button {
    margin-left: 130px;
    font-size: 24px;
    font-weight: 600;
    height: 68px;
    background-color: black;
    color: white;
    width: 270px;
}

.home .box.white {
    color: white;
}
 
.home .box.white .title {
    border-bottom: 5px solid white;
}
 
.home .content.right {
    justify-content: end;
}
 
.home .box.white p {
    font-weight: 500;
}
 
.home .box.white button {
    background-color: white;
    color: black;
    font-weight: 800;
 }

.home section svg {
    position: absolute;
    height: 820px;
}

/* main about */

.about section {
    height: 820px;
    width: 100%;
    position: relative
}

.about section.one {
    background-image: url("../images/005.jpg");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 670px;
    background-position-y: -180px;
}

.about section.two {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,  rgba(0,0,0,0.7) 40%, rgba(255,255,255,0.7) 100%);
    background-color: black;
}

.about section.four {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,  rgba(0,0,0,0.7) 40%, rgba(255,255,255,0.7) 100%);
    background-color: black;
    z-index: -1;
}

.about section.one svg.svg_1 {
    fill:white;
    right: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.about section.one svg.svg_2 {
    fill:white;
    left: 1940px;
    width: 4820px;
}

.about section.two svg.svg_1{
    fill:white;
    right: 1740px;
    width: 4820px;
}

.about section.two svg.svg_2 {
    fill:white;
    left: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.about section.two img {
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 430px;
    left: 870px;
}

.about section.three pattern image {
    width: 150%;
}

.about section.three {
    height: 750px;
}

.about section.three svg {
    height: 750px;
  }

.about section.three svg.svg_1 {
    fill:white;
    left: -300px;
    width: 2300px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
    z-index: 1;
}

.about section.three svg.svg_2 {
    top: 100px;
    left: 1050px;
    width: 1520px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.about section.four svg.svg_1 {
    fill:white;
    right: 1650px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.about section.four svg.svg_2 {
    fill:white;
    left: 900px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.about section.four .circle-image {
    position: absolute;
    overflow: hidden;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    top: 50%;
    transform: translateY(-50%);
}

.about section.four .circle-image.left {
    left: 350px;
}

.about section.four .circle-image.right {
    left: 900px;
}

.about section.four .circle-image.left img {
    scale: 1.2;
    margin-left: -30px;
    margin-top: -30px;
}

.about section.four .circle-image.right img {
    scale: 1.2;
    margin-left: 20px;
    margin-top: -30px;
}

.about .content {
    align-items: center;
}

.about .content.right {
    justify-content: end;
    align-items: center;
}

.about .box {
    width: 720px;
    padding-left: 60px;
    border-left: 4px solid black;
    margin-top: -50px;
}

.about .box.y-center {
    margin-top: 100px;
}

.about .box  h1 {
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
    line-height: 54px;
    margin-bottom: 30px;
}

.about .box p {
    font-size: 28px;
    font-weight: 600;
}

.about section svg {
    position: absolute;
    height: 820px;
}

/* main services */

.services section {
    height: 820px;
    width: 100%;
    position: relative
}

.services section.one {
    background-image: url("../images/010.jpg");
    background-repeat: no-repeat;
    background-size: 95%;
    background-position-x: 670px;
    background-position-y: -670px;
}

.services .one .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 80%,rgba(255,255,255,0.9) 100%);
}

.services section.two {
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%,  rgba(0,0,0,0.7) 50%, rgba(255,255,255,0.7) 100%);
    background-color: black;
}

.services section.three {
    background-image: url("../images/014.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 300px;
    background-position-y: -200px;
    border-bottom: 150px solid white;
}

.services section.one svg.svg_1 {
    fill:black;
    right: 1000px;
    width: 2020px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.services section.one svg.svg_2 {
    fill:white;
    left: 1740px;
    width: 4820px;
}

.services section.two svg.svg_1 {
    fill:white;
    right: 1940px;
    width: 5080px;
}

.services section.two svg.svg_2 {
    fill:black;
    right: 2540px;
    width: 480px;
}

.services section.two svg.svg_3 {
    fill:white;
    left: 740px;
    width: 5080px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.services section.two {
    height: 1080px;
}

.services section.two svg {
    height: 1080px; 
}

.services section.two img {
    z-index: 3;
    position: absolute;
    bottom: 50px;
    width: 1190px;
    left: 120px;
}

.services section.three {
    height: 980px;
}

.services section.three svg.svg_1 {
    fill:white;
    left: 1300px;
    width: 4980px;
    z-index: 1;
}

.services section.two .images-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}

.services section.two .circle-image {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    margin: 20px;
    flex-shrink: 0;
}

.services section.two .circle-image.left {
    left: 1510px;
}

.services section.two .circle-image.right {
    left: 1860px;
}

.services section.two .circle-image.left img {
    width: 450px;
    margin-left: 0;
    margin-top: 0px;
    z-index: 0;
    position: static;
}

.services section.two .circle-image.right img {
    width: 450px;
    margin-left: -20px;
    margin-top: 0px;
    z-index: 0;
    position: static;
}

.services section.two .box {
    width: 720px;
    margin-top: -50px;
    border-left: none;
    padding-left: 0;
}

.services .box button {
    margin-left: 130px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    height: 68px;
    background-color: black;
    color: white;
    width: 500px;
}

.services .three .box {
    margin-top: 200px;
    position: absolute;
  }

.services section.three .circle-image {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    margin-top: 40px;
    flex-shrink: 0;
}

.services section.three .circle-image img {
    width: 450px;
    margin-left: -25px;
    margin-top: 0px;
    z-index: 0;
    position: static;
}

.services section.two .box p {
    border-left: 4px solid black;
    padding-left: 60px;
}

.services .content {
    align-items: center;
}

.services .content.right {
    justify-content: end;
    align-items: center;
}

.services .two .content.right {
    align-items:flex-start;
    margin-top: 100px;
}

.services .box {
    width: 720px;
    margin-top: -50px;
    border-left: 4px solid black;
    padding-left: 60px;
}

.services .box.white {
    color: white;
    border-left: 4px solid white;
}

.services .box.y-center {
    margin-top: 100px;
}

.services .box  h1 {
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
    line-height: 54px;
    margin-bottom: 30px;
}

.services .box p {
    font-size: 28px;
    font-weight: 600;
}

.services section svg {
    position: absolute;
    height: 820px;
}

.services section.three svg {
    position: absolute;
    height: 980px;
}

.services .three .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,255,255,1) 0%,  rgba(255,255,255,1) 40%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0) 80%);
}

/* main portfolio */
.portfolio section {
    height: 820px;
    width: 100%;
    position: relative;
}

.portfolio section.one  {
    height: 400px;
}

.portfolio section.one .text-box {
    width: 1120px;
    border-left: 4px black solid;
    font-size: 28px;
    font-weight: 600;
    padding-left: 50px;
    margin-top: 50px;
    margin-left: 120px;
}

.portfolio section.gallery  {
    height: 2400px;
}

.portfolio .gallery .gallery-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio .gallery .content {
    align-items: flex-start;
}

.portfolio .gallery .content img {
    width: 30%;
    height: 500px;
    margin: 20px;
    object-fit: cover;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.2);
}

/* main contact */

.contact section {
    height: 820px;
    width: 100%;
    position: relative
}

.contact section.one {
    background-image: url("../images/015.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 780px;
    background-position-y: 0px;
    height: 680px;
}

.contact .one .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 70%,rgba(255,255,255,0.9) 100%);
}

.contact section.three {
    display: flex;
}

.contact section.one svg.svg_1 {
    fill:white;
    right: 1100px;
    width: 4680px;
}

.contact section.one svg.svg_2 {
    fill:white;
    left: 2080px;
    width: 4680px;
}

.contact section.one svg {
    height: 680px;
}

.contact .one .box p {
    padding-right: 100px;
}

.contact section.two svg.svg_1{
    fill:white;
    right: 1490px;
    width: 5080px;
}

.contact section.two svg.svg_2{
    fill:black;
    right: 2540px;
    width: 480px;
}

.contact section.two svg.svg_3 {
    fill:white;
    left: 740px;
    width: 5080px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

.contact section.two {
    height: 580px;
}

.contact section.two svg {
    height: 1080px; 
}

.contact section.two img {
    z-index: 3;
    position: absolute;
    bottom: 50px;
    width: 1000px;
    left: 370px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.contact section.three{
    height: 480px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.contact section.two .images-box {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
}

.contact section.two .circle-image {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
    margin: 20px;
    flex-shrink: 0;
}

.contact section.two .circle-image.left {
    left: 1510px;
}

.contact section.two .circle-image.right {
    left: 1860px;
}

.contact section.two .circle-image.left img {
    width: 450px;
    margin-left: 0;
    margin-top: 0px;
    z-index: 0;
    position: static;
}

.contact section.two .circle-image.right img {
    width: 450px;
    margin-left: -20px;
    margin-top: 0px;
    z-index: 0;
    position: static;
}

.contact section.two .box {
    width: 720px;
    margin-bottom: 140px;
    border-left: none;
    padding-left: 0;
  }

.contact .three .box {
    width: 50%;
    padding-right: 200px;
    margin-top: 15px;
}

.contact section.two .box p {
    border-left: 4px solid black;
    padding-left: 60px;
}

.contact .one .content {
    align-items: center;
}

.contact .three.content {
    align-items: flex-start;
}

.contact .content.right {
    justify-content: end;
    align-items: center;
}

.contact .two .content.right {
    align-items: flex-end;
    margin-bottom: 200px;
}

.contact section.four {
    height: 480px;
    width: 100%;
    position: relative;
}

.contact .four .box {
    margin-top: 0;
}

.contact .four .box p {
    font-size: 32px;
    font-weight: 600;
    padding: 3px 0;
}

.contact .box {
    width: 720px;
    margin-top: -50px;
    border-left: 4px solid black;
    padding-left: 60px;
}

.contact .box.white {
    color: white;
    border-left: 4px solid white;
}

.contact .box.y-center {
    margin-top: 100px;
}

.contact .box  h1 {
    font-weight: 700;
    font-size: 54px;
    text-transform: uppercase;
    line-height: 54px;
    margin-bottom: 30px;
}

.contact .box p {
    font-size: 28px;
    font-weight: 600;
}

.contact .box a {
    display: inline-block;
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    color: black;
  }

.contact .two .box p {
    font-size: 30px;
    font-weight: 400;
}

.contact section svg {
    position: absolute;
    height: 820px;
}

/* quick-contact */

.quick-contact {
    height: 270px;
    width: 100%;
    position: relative;
}

.quick-contact svg {
    position: absolute;
    height: 270px;
    width: 4270px;
    fill:black;
    right: 650px;
}

.quick-contact .quick-contact_box {
    height: 100%;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quick-contact_box .facebook {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-contact_box .facebook img {
    height: 60%;
}

.quick-contact_box .tel {
   color:white;
   height: 130px;
   width: 550px;
   border-left: 6px solid white;
   padding-left: 30px;
}

.quick-contact_box .tel p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 600;
}

.quick-contact_box .tel p:nth-of-type(2) {
    font-size: 54px;
    font-weight: 600;
}

.quick-contact_box .tel span {
    font-weight: 200;
}

/* footer */

footer {
    height: 450px;
    margin-top: 50px;
    width: 100%;
    position: relative;
    font-weight: 400;
    border-top: 4px solid black;
}

footer .content {
    justify-content: space-around;
}

.footer-left-box {
    width: 1150px;
    height: 230px;
    display: flex;
}

.footer-left-box .footer-logo {
  padding-right: 60px;
}

.footer-left-box .footer-logo img {
    width: 500px;
}

.footer-left-box .company-box {
    font-size: 28px;
    font-weight: 400;
    border-left: 5px solid black;
    padding: 0 30px;
}

.footer-left-box .company-box p,
.footer-left-box .address-box p {
    line-height: 1.5em;
}

.footer-left-box .address-box {
    font-size: 28px;
    font-weight: 400;
}

.footer-right-box {
    width: 540px;
}

.footer-right-box ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 230px;
}

.footer-right-box li {
    display: inline-block;
    border-left: 4px solid black;
    margin: 8px 0;
    font-size: 28px;
    font-weight: 600;
    padding-left: 30px;
}

/* LIGHTBOX */

#lightbox {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    display: none;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox .img-wrapper > img {
    padding: 100px 0 10px 0;
    max-width: 50vw;
    max-height: 85vh;
  }
  
  .img-wrapper {
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: -80px;
    right: -75px;
    font-size: 26px;
    padding: 10px;
    width: 70px;
  }

  .prev-btn {
    position: absolute;
    top: 50%;
    left: -150px;
    font-size: 26px;
    padding: 30px;
    width: 120px;
    transform: translateY(-50%);
  }

  .next-btn {
    position: absolute;
    top: 50%;
    right: -150px;
    font-size: 26px;
    padding: 30px;
    width: 120px;
    transform: translateY(-50%);
  }

  .prev-btn.disabled,
  .next-btn.disabled {
    opacity: 0.1;
  }

  .img-title p {
    color: white;
    font-size: 24px;
    text-align: center;
  }

@media (max-width: 2560px) {

    .container {
        width: 1920px;
    }
    
    .svg_full {display: none;}
    .svg_1920 {display: block;}
    .svg_1600 {display: none;}
    .svg_1400 {display: none;}
    .svg_1000 {display: none;}

    .quick-contact svg {
        position: absolute;
        height: 270px;
        width: 4270px;
        fill: black;
        right: 330px;
      }

/* home */

    .home section.one svg.svg_1, 
    .home section.three svg.svg_1 {
        right: 500px;
    }

    .home section.one svg.svg_2,
    .home section.three svg.svg_2 {
        left: 1420px;
    }

    .home section.one {
        background-size: 75%;
        background-position-x: 600px;
    }

    .home section.two svg.svg_1,
    .home section.four svg.svg_1 {
        right: 1420px;
    }

    .home section.two svg.svg_2,
    .home section.four svg.svg_2 {
        left: 500px;
    }

    .home section.two {
        background-size: 78%;
        background-position-x: -86px;
    }

    .home section.three {
        background-size: 75%;
        background-position-x: 600px;
    }

    .home section.four {
        background-size: 75%;
        background-position-x: -120px;
        background-position-y: -100px;
    }
    
    /* about */

    .about section.one svg.svg_1 {
        right: 500px;
    }

    .about section.one svg.svg_2 {
        left: 1420px;
    }

    .about section.one {
        background-size: 100%;
        background-position-x: 520px;
        background-position-y: -100px;
    }

    .about section.two svg.svg_1{
        right: 1420px;
    }

    .about section.two svg.svg_2 {
        left: 500px;
    }

    .about section.two img {
        left: 530px;
    }

    .about section.three svg.svg_1 {
        left: -640px;
    }

    .about section.three svg.svg_2 {
        left: 700px;
        width: 1520px;
        top: 100px;
    }

    .about section.four svg.svg_1 {
        right: 1100px;
    }

    .about section.four svg.svg_2 {
        left: 800px;
    }

    .about section.four .circle-image {
        width: 400px;
        height: 400px;
    }

    .about section.four .circle-image.left {
        left: 300px;
    }

    .about section.four .circle-image.right {
        left: 780px;
    }

    .about section.four {
        left: -250px;
    }

    .about section.four .content {
        left: 1200px;
    }

    /* services */

    .services section.one svg.svg_1 {
        right: 660px;
    }

    .services section.one svg.svg_2 {
        left: 1400px;
    }

    .services section.one {
        background-size: 100%;
        background-position-x: 435px;
        background-position-y: -391px;
    }

    .services section.two svg.svg_1 {
        right: 1560px;
    }

    .services section.two svg.svg_2 {
        fill:black;
        right: 1920px;
        width: 720px;
    }

    .services section.two svg.svg_3 {
        left: 440px;
        width: 5080px;
    }

    .services section.two {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7) 65%, rgba(255,255,255,0.7) 100%);
    }

    .services section.two img {
        left: -100px;
    }

    .services section.three svg.svg_1 {
        left: 940px;
    }

    .services section.three {
        background-size: 100%;
        background-position-x: 100px;
        background-position-y: -75px;
    }

    .contact section.one svg.svg_1 {
        right: 760px;
    }

    .contact section.one {
        background-size: 75%;
        background-position-x: 535px;
        background-position-y: 0px;
        height: 680px;
    }

    .contact section.one svg.svg_2 {
        left: 1550px;
    }

    .contact section.two img {
        left: 60px;
      }
}

@media (max-width: 2100px) {

    .content {
        width: 1500px;
    }

    header {
        height: 140px;
    }

    header .logo img {
        height: 50px;
    } 

    header .menu {
        width: 800px;
        font-size: 21px;
      }

    .container {
        width: 1600px;
    }

    .svg_full {display: none;}
    .svg_1920 {display: none;}
    .svg_1600 {display: block;}
    .svg_1400 {display: none;}
    .svg_1000 {display: none;}

    .quick-contact {
        height: 240px;
    }

    .quick-contact svg {
        height: 240px;
        right: 250px;
    }

    .quick-contact_box .facebook {
        width: 115px;
        height: 115px;
    }

    .quick-contact_box .tel {
        color: white;
        height: 115px;
    }

    .quick-contact_box .tel p:nth-of-type(1) {
        font-size: 35px;
    }

    .quick-contact_box .tel p:nth-of-type(2) {
        font-size: 45px;
    }

    .footer-left-box .footer-logo img {
        width: 400px;
    }

    .footer-left-box .company-box {
        font-size: 24px;
    }

    .footer-left-box .address-box {
        font-size: 24px;
    }

    .footer-right-box li {
        font-size: 24px;
    }

/* home */

    .home section {
        height: 650px;
    }

    .home section.one svg.svg_1, 
    .home section.three svg.svg_1 {
        right: 260px;
    }

    .home section.one svg.svg_2,
    .home section.three svg.svg_2 {
        left: 1300px;
    }

    .home section.one {
        background-size: 75%;
        background-position-x: 520px;
    }

    .home section.two svg.svg_1,
    .home section.four svg.svg_1 {
        right: 1120px;
    }

    .home section.two svg.svg_2,
    .home section.four svg.svg_2 {
        left: 430px;
    }

    .home section.two {
        background-size: 78%;
        background-position-x: -86px;
    }

    .home section.three {
        background-size: 80%;
        background-position-x: 520px;
    }

    .home section.four {
        background-size: 75%;
        background-position-x: -120px;
        background-position-y: -100px;
    }

    .home .box {
        width: 550px;
        height: 100%;
      }

    .home .box .title {
        margin-top: 90px;
        margin-left: 0px;
        padding-bottom: 35px;
    }

    .home .box .title h1 {
        font-size: 60px;
        line-height: 0;
    }

    .home .box p {
        margin: 40px 0 40px 0;
        font-size: 22px;
    }

    .home .box button {
        margin-left: 0;
        font-size: 22px;
        width: 250px;
    }
    
    /* about */

    .about section {
        height: 650px;
    }

      .about section.three {
        height: 600px;
    }

    .about .box h1 {
        font-weight: 700;
        font-size: 48px;
    }

    .about .box p {
        font-size: 24px;
    }

    .about section.two img {
        width: 350px;
    }

    .about section.one svg.svg_1 {
        right: 225px;
    }

    .about section.one svg.svg_2 {
        left: 1300px;
    }

    .about section.one {
        background-size: 100%;
        background-position-x: 520px;
        background-position-y: -100px;
    }

    .about section.two svg.svg_1{
        right: 1150px;
    }

    .about section.two svg.svg_2 {
        left: 320px;
    }

    .about section.two img {
        left: 250px;
    }

    .about section.three svg {
        height: 600px;
    }

    .about section.three svg.svg_1 {
        left: -550px;
    }

    .about section.three svg.svg_2 {
        left: 400px;
        width: 1220px;
        top: 65px;
    }

    .about section.four svg {
        height: 650px;
    }

    .about section.four svg.svg_1 {
        right: 900px;
    }

    .about section.four svg.svg_2 {
        left: 600px;
    }

    .about section.four .circle-image {
        width: 400px;
        height: 400px;
    }

    .about section.four .circle-image.left {
        left: 200px;
    }

    .about section.four .circle-image.right {
        left: 700px;
    }

    .about section.four {
        left: -250px;
    }

    .about section.four .content {
        left: 1200px;
    }

    /* services */

    .services .box {
        width: 620px;
    }

    .services .box h1 {
        font-size: 48px;
    }

    .services .box p {
        font-size: 22px;
    }

    .services .box button {
        font-size: 21px;
        width: 430px;
        margin-left: 170px;
    }

    .services section.one {
        height: 650px;
    }

    .services section svg {
        height: 650px;
      }

    .services section.one svg.svg_1 {
        right: 200px;
    }

    .services section.one svg.svg_2 {
        left: 1260px;
    }

    .services section.one {
        background-size: 100%;
        background-position-x: 435px;
        background-position-y: -391px;
    }

    .services section.two {
        height: 900px;
    }

    .services section.two svg {
        height: 900px;
      }

    .services section.two svg.svg_1 {
        right: 1100px;
    }

    .services section.two svg.svg_2{
        fill:black;
        right: 1460px;
        width: 720px;
    }

    .services section.two svg.svg_3 {
        left: 480px;
        width: 5080px;
        filter: none;
    }

    .services section.two {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7) 65%, rgba(255,255,255,0.7) 100%);
    }

    .services section.two img {
        left: -150px;
    }

    .services section.two img {
        width: 1000px;
    }

    .services section.three {
        height: 800px;
    }

    .services section.three svg {
        height: 800px;
    }

    .services section.three svg.svg_1 {
        left: 940px;
    }

    .services section.three {
        background-size: 100%;
        background-position-x: 100px;
        background-position-y: -75px;
    }
    
    .portfolio section.one {
        height: 300px;
    }

    .portfolio section.one .text-box {
        font-size: 24px;
    }

    .portfolio section.gallery {
        height: 2100px;
    }

    .portfolio .gallery .content img {
        height: 450px;
    }
    
    .contact .box p {
        font-size: 24px;
    }

    .contact .two .box p {
        font-size: 26px;
    }

    .contact section.one svg.svg_1 {
        right: 400px;
    }

    .contact section.one {
        background-size: 75%;
        background-position-x: 430px;
        background-position-y: 0px;
        height: 500px;
    }

    .contact section.one svg.svg_2 {
        left: 1340px;
    }

    .contact section.two {
        height: 500px;
    }

    .contact section.two .box {
        width: 625px;
    }

    .contact section.two img {
        left: 60px;
        width: 800px;
    }

    .contact .box h1 {
        font-size: 46px;
    }

    .contact .box a {
        font-size: 34px;
    }

    .contact .four .box p {
        font-size: 28px;
    }
    
}

@media (max-width: 1800px) {

    .content {
        width: 1200px;
    }

    header {
        height: 140px;
    }

    header .logo img {
        height: 50px;
    } 

    header .menu {
        width: 750px;
        font-size: 21px;
      }

    .container {
        width: 1400px;
    }

    .svg_full {display: none;}
    .svg_1920 {display: none;}
    .svg_1600 {display: none;}
    .svg_1400 {display: block;}
    .svg_1000 {display: none;}

    .quick-contact {
        height: 200px;
    }

    .quick-contact svg {
        height: 200px;
        right: 230px;
    }

    .quick-contact_box .facebook {
        width: 100px;
        height: 100px;
    }

    .quick-contact_box .tel {
        height: 100px;
    }

    .quick-contact_box .tel p:nth-of-type(1) {
        font-size: 30px;
    }

    .quick-contact_box .tel p:nth-of-type(2) {
        font-size: 40px;
    }

    footer {
        height: 350px;
    }

    .footer-left-box .footer-logo {
        padding-right: 40px;
    }

    .footer-left-box .footer-logo img {
        width: 300px;
    }

    .footer-left-box .company-box {
        font-size: 20px;
    }

    .footer-left-box .address-box {
        font-size: 20px;
    }

    .footer-right-box li {
        font-size: 20px;
        margin: 6px 0;
    }

/* home */

    .home section {
        height: 600px;
    }

    .home section svg {
        height: 600px;
    }

    .home section.one svg.svg_1, 
    .home section.three svg.svg_1 {
        right: 200px;
    }

    .home section.one svg.svg_2,
    .home section.three svg.svg_2 {
        left: 1100px;
    }

    .home section.one {
        background-size: 79%;
        background-position-x: 380px;
    }

    .home section.two svg.svg_1,
    .home section.four svg.svg_1 {
        right: 900px;
    }

    .home section.two svg.svg_2,
    .home section.four svg.svg_2 {
        left: 300px;
    }

    .home section.two {
        background-size: 78%;
        background-position-x: -86px;
    }

    .home section.three {
        background-size: 85%;
    background-position-x: 350px;
    }

    .home section.four {
        background-size: 75%;
        background-position-x: -120px;
        background-position-y: -100px;
    }

    .home .box {
        width: 460px;
        height: 100%;
      }

    .home .box .title {
        margin-top: 90px;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .home .box .title h1 {
        font-size: 52px;
        line-height: 0;
    }

    .home .box p {
        margin: 40px 0 40px 0;
        font-size: 19px;
    }

    .home .box button {
        margin-left: 0;
        font-size: 20px;
        height: 60px;
        width: 230px;
    }
    
    /* about */

    .about section {
        height: 600px;
    }

      .about section.three {
        height: 500px;
    }

    .about .box h1 {
        font-weight: 700;
        font-size: 35px;
    }

    .about .box {
        width: 550px;
        margin-top: -10px;
    }

    .about .box p {
        font-size: 20px;
    }

    .about section.two img {
        width: 320px;
    }

    .about section.one svg.svg_1 {
        right: 170px;
    }

    .about section.one svg.svg_2 {
        left: 1140px;
    }

    .about section.one {
        background-size: 100%;
        background-position-x: 420px;
        background-position-y: -100px;
    }

    .about section.two svg.svg_1{
        right: 940px;
    }

    .about section.two svg.svg_2 {
        left: 280px;
    }

    .about section.two img {
        left: 250px;
    }

    .about section.three svg {
        height: 500px;
    }

    .about section.three svg.svg_1 {
        left: -490px;
    }

    .about section.three svg.svg_2 {
        left: 365px;
        width: 1220px;
        top: 65px;
    }

    .about section.four svg {
        height: 600px;
    }

    .about section.four svg.svg_1 {
        right: 620px;
    }

    .about section.four svg.svg_2 {
        left: 520px;
    }

    .about section.four .circle-image {
        width: 330px;
        height: 330px;
    }

    .about section.four .circle-image.left {
        left: 200px;
    }

    .about section.four .circle-image.right {
        left: 600px;
    }

    .about section.four {
        left: -250px;
    }

    .about section.four .content {
        left: 1000px;
    }

    /* services */

    .services .box {
        width: 540px;
    }

    .services .box h1 {
        font-size: 40px;
    }

    .services .box p {
        font-size: 20px;
    }

    .services .box button {
        font-size: 21px;
        width: 430px;
        margin-left: 110px;
    }

    .services section.one {
        height: 600px;
    }

    .services section svg {
        height: 600px;
      }

    .services section.one svg.svg_1 {
        right: -150px;
    }

    .services section.one svg.svg_2 {
        left: 1100px;
    }

    .services section.one {
        background-size: 100%;
        background-position-x: 440px;
        background-position-y: -260px;
    }

    .services section.two {
        height: 800px;
    }

    .services section.two svg {
        height: 800px;
    }

    .services section.two svg.svg_1 {
        right: 1190px;
        width: 4800px;
    }

    .services section.two svg.svg_2{
        fill:black;
        right: 1260px;
        width: 720px;
    }

    .services section.two svg.svg_3 {
        left: 430px;
        width: 5080px;
    }

    .services section.two {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7) 65%, rgba(255,255,255,0.7) 100%);
    }

    .services section.two .box {
        width: 600px;
    }

    .services section.two img {
        left: -120px;
        width: 850px;
    }

    .services section.two .circle-image {
        width: 250px;
        height: 250px;
    }

    .services section.three svg {
        height: 800px;
    }

    .services section.three svg.svg_1 {
        left: 560px;
    }

    .services section.three {
        background-size: 100%;
        background-position-x: 100px;
        background-position-y: -75px;
    }

    .services section.three .circle-image img {
        width: 420px;
        margin-left: -40px;
    }

    .services section.three .circle-image {
        width: 250px;
        height: 250px;
    }

    .portfolio section.one {
        height: 300px;
    }

    .portfolio section.one .text-box {
        font-size: 24px;
        width: 1050px;
    }

    .portfolio section.gallery {
        height: 1700px;
    }

    .portfolio .gallery .content img {
        height: 360px;
    }

    .contact .box p {
        font-size: 20px;
    }

    .contact .two .box p {
        font-size: 22px;
    }

    .contact section.one svg {
        height: 450px;
    }

    .contact section.one svg.svg_1 {
        right: 180px;
    }

    .contact section.one {
        background-size: 80%;
        background-position-x: 320px;
        background-position-y: 0px;
        height: 450px;
    }

    .contact section.one svg.svg_2 {
        left: 1200px;
    }

    .contact section.two {
        height: 400px;
    }

    .contact section.two .box {
        width: 625px;
        margin-bottom: 160px;
    }

    .contact section.two .box p {
        padding-left: 120px;
    }

    .contact section.two img {
        left: 60px;
        width: 660px;
    }

    .contact section.three {
        height: 425px;
    }

    .contact .box h1 {
        font-size: 40px;
    }

    .contact .box a {
        font-size: 30px;
    }

    .contact section.four {
        height: 425px;
    }

    .contact .four .box p {
        font-size: 25px;
    }
    
}

@media (max-width: 1500px) {

    .content {
        width: 800px;
    }

    header {
        height: 100px;
    }

    header .logo img {
        height: 40px;
    } 

    header .menu {
        width: 475px;
        font-size: 16px;
      }

    .container {
        width: 1000px;
    }

    .svg_full {display: none;}
    .svg_1920 {display: none;}
    .svg_1600 {display: none;}
    .svg_1400 {display: none;}
    .svg_1000 {display: block;}

    .quick-contact {
        height: 150px;
    }

    .quick-contact svg {
        height: 150px;
        right: 50px;
    }

    .quick-contact_box .facebook {
        width: 75px;
        height: 75px;
    }

    .quick-contact_box .tel {
        height: 80px;
        border-left: 4px solid white;
    }

    .quick-contact_box .tel p:nth-of-type(1) {
        font-size: 24px;
    }

    .quick-contact_box .tel p:nth-of-type(2) {
        font-size: 34px;
    }

    footer {
        height: 290px;
    }

    footer .content {
        flex-direction: column;
        top: 20px;
    }

    .footer-left-box {
        width: 100%;
        height: 175px;
        padding: 20px 0;
    }

    .footer-left-box .footer-logo {
      
        display: flex;
    }

    .footer-left-box .footer-logo img {
        width: 250px;
        object-fit: contain;
    }

    .footer-left-box .company-box {
        font-size: 16px;
        border-left: none;
        padding: 0px 55px;
    }

    .footer-left-box .address-box {
        font-size: 16px;
    }

    .footer-right-box {
        width: 100%;
        margin-bottom: 40px;
      }

    .footer-right-box ul {
        height: 120px;
    }

    .footer-right-box li {
        font-size: 18px;
        margin: 4px 50px;
        border-left: 3px solid black;
        padding-left: 20px;
        width: 150px;
    }

/* home */

    .home section {
        height: 550px;
    }

    .home section svg {
        height: 550px;
    }

    .home section.one svg.svg_1, 
    .home section.three svg.svg_1 {
        right: -20px;
    }

    .home section.one svg.svg_2,
    .home section.three svg.svg_2 {
        left: 750px;
    }

    .home section.one {
        background-size: 85%;
        background-position-x: 200px;       
    }

    .home section.two svg.svg_1,
    .home section.four svg.svg_1 {
        right: 500px;
    }

    .home section.two svg.svg_2,
    .home section.four svg.svg_2 {
        left: 130px;
    }

    .home section.two {
        background-size: 95%;
        background-position-x: -210px;
    }

    .home section.three {
        background-size: 100%;
        background-position-x: 190px;
    }

    .home section.four {
        background-size: 85%;
        background-position-x: -170px;
        background-position-y: -15px;

    }

    .home .box {
        width: 300px;
        height: 100%;
      }

    .home .box .title {
        margin-top: 90px;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .home .box .title h1 {
        font-size: 36px;
        line-height: 1;
    }

    .home .box .title h1 span {
        line-height: 1;
    }

    .home .box p {
        margin: 25px 0 25px 0;
        font-size: 16px;
    }

    .home .box button {
        margin-left: 0;
        font-size: 20px;
        height: 60px;
        width: 230px;
    }
    
    /* about */

    .about section {
        height: 550px;
    }

    .about section svg {
        position: absolute;
        height: 550px;
    }

    .about section.three {
        height: 400px;
    }

    .about .box h1 {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 14px;
        line-height: 1.2;
    }

    .about .box {
        width: 325px;
        margin-top: -10px;
        padding-left: 35px;
    }

    .about .three .box {
        width: 416px;
        margin-top: 25px;
    }

    .about .box p {
        font-size: 16px;
    }

    .about section .content {
        align-items: flex-start;
        margin-top: 50px;
    }

    .about .content.right {
        align-items: flex-start;
    }

    .about section.two img {
        width: 285px;
    }

    .about section.one svg.svg_1 {
        right: -40px;
    }

    .about section.one svg.svg_2 {
        left: 700px;
    }

    .about section.one {
        background-size: 115%;
        background-position-x: 220px;
        background-position-y: -70px;
    }

    .about section.two svg.svg_1{
        right: 500px;
    }

    .about section.two svg.svg_2 {
        left: 250px;
    }

    .about section.two img {
        left: 200px;
    }

    .about section.three svg {
        height: 400px;
    }

    .about section.three svg.svg_1 {
        left: -400px;
    }

    .about section.three svg.svg_2 {
        left: 300px;
        width: 800px;
        top: 50px;
    }

    .about section.four svg {
        height: 550px;
    }

    .about section.four svg.svg_1 {
        right: 620px;
        width: 4550px;
    }

    .about section.four svg.svg_2 {
        left: 300px;
    }

    .about section.four .circle-image {
        width: 220px;
        height: 220px;
    }

    .about section.four .circle-image.left {
        left: 275px;
    }

    .about section.four .circle-image.right {
        left: 540px;
    }

    .about section.four .circle-image.right img {
        scale: 1.2;
        margin-left: -55px;
        margin-top: -64px;
    }

    .about section.four .circle-image.left img {
        scale: 1.2;
        margin-left: -182px;
        margin-top: -54px;
    }

    .about section.four {
        left: -250px;
    }

    .about section.four .content {
        left: 750px;
    }

    /* services */

    .services .one .content {
        align-items: flex-start;
        margin-top: 100px;
      }

    .services .box {
        width: 400px;
        padding-left: 40px;
    }
    .services .box.white {
        border-left: 3px solid white;
    }

    .services .box h1 {
        font-size: 30px;
        margin-bottom: 12px;
    }

    .services .box p {
        font-size: 16px;
    }

    .services .box button {
        font-size: 21px;
        width: 430px;
        margin-left: 110px;
    }

    .services section.one {
        height: 550px;
    }

    .services section svg {
        height: 550px;
      }

    .services section.one svg.svg_1 {
        right: -560px;
    }

    .services section.one svg.svg_2 {
        left: 750px;
    }

    .services section.one {
        background-size: 115%;
        background-position-x: 188px;
        background-position-y: -110px;
    }

    .services section.two {
        height: 600px;
    }

    .services section.two svg {
        height: 600px;
    }

    .services section.two svg.svg_1 {
        right: 870px;
        width: 4600px;
    }

    .services section.two svg.svg_2{
        fill:black;
        right: 750px;
        width: 720px;
    }

    .services section.two svg.svg_3 {
        left: 190px;
        width: 5080px;
    }

    .services section.two {
        background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgba(0,0,0,0.7) 80%, rgba(255,255,255,0.7) 100%);
    }

    .services section.two .box {
        width: 460px;
    }

    .services section.two .box p {
        padding-left: 32px;
    }

    .services .two .content.right {
        margin-top: 77px;
    }

    .services section.two img {
        left: -25px;
        width: 500px;
    }

    .services section.two .circle-image {
        width: 150px;
        height: 150px;
    }

    .services section.two .circle-image.right img {
        width: 260px;
    }

    .services section.two .circle-image.left img {
        width: 260px;
    }

    .services section.two .images-box {
        margin-top: 0px;
    }

    .services section.three svg {
        height: 600px;
    }

    .services section.three svg.svg_1 {
        left: 400px;
    }

    .services .box button {
        height: 60px;
        font-size: 16px;
        width: 360px;
        margin-left: 69px;
    }

    .services section.three {
        background-size: 100%;
        background-position-x: 100px;
        background-position-y: -75px;
        height: 600px;
    }

    .services section.three .box {
        width: 440px;
    }

    .services section.three .circle-image img {
        width: 265px;
        margin-left: -45px;
    }

    .services section.three .circle-image {
        width: 150px;
        height: 150px;
        margin-top: 25px;
    }

    .portfolio section.one {
        height: 230px;
    }

    .portfolio section.one .text-box {
        font-size: 16px;
        width: 640px;
        margin-left: 100px;
    }

    .portfolio section.gallery {
            height: 1000px;
    }

    .portfolio .gallery .content img {
        height: 200px;
        width: 25%;
    }

    .contact .box {
        width: 560px;
        padding-left: 32px;
    }

    .contact .box p {
        font-size: 16px;
    }

    .contact .two .box p {
        font-size: 16px;
    }

    .contact section.one svg {
        height: 400px;
    }

    .contact section.one svg.svg_1 {
        right: -50px;
    }

    .contact section.one {
        background-size: 80%;
        background-position-x: 320px;
        background-position-y: 0px;
        height: 400px;
    }

    .contact section.one svg.svg_2 {
        left: 840px;
    }

    .contact section.two {
        height: 300px;
    }

    .contact section.two .box {
        width: 432px;
        margin-bottom: 130px;
    }

    .contact section.two .box p {
        padding-left: 120px;
    }

    .contact section.two img {
        left: 45px;
        width: 500px;
        bottom: 50px;
    }

    .contact section.three {
        height: 350px;
        border-top: 4px solid black;
        border-bottom: 4px solid black;
    }

    .contact .three .box {
       padding-right: 120px;
       margin-top: 0;
    }

    .contact .box {
        border-left: 3px solid black;
    }

    .contact .box h1 {
        font-size: 26px;
    }

    .contact .box a {
        font-size: 20px;
    }

    .contact section.four {
        height: 280px;
    }

    .contact .four .box p {
        font-size: 20px;
    }
    
}