* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.container-outer {
    width: 100%;
    overflow: hidden;
  
}

.container {
    width: 2560px;
    min-height: 100vh;
    margin: 0 auto;
    /* border: solid 1px green; */
}

header {
    height: 190px;
    width: 100%;
    background-color: black;
}

main section {
    /* border: solid 1px green; */
    height: 820px;
    width: 100%;
    position: relative
}

main section.one {
    background-image: url("../images/001.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 65%;
    background-position-x: 900px;
}

main section.two {
    background-image: url("../images/002.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-x: 0px;
}

main section.three {
    background-image: url("../images/003.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    background-position-x: 900px;
}

main section.four {
    background-image: url("../images/004.jpg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: -50px;
    background-position-y: -300px;
}

main section.one svg:nth-of-type(1),
main section.three svg:nth-of-type(1) {
    fill:white;
    right: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
    z-index:1;
}

main section.one svg:nth-of-type(2),
main section.three svg:nth-of-type(2) {
    fill:white;
    left: 1740px;
    width: 4820px;
}

main section.two svg:nth-of-type(1),
main section.four svg:nth-of-type(1) {
    fill:white;
    right: 1740px;
    width: 4820px;
}

main section.two svg:nth-of-type(2),
main section.four svg:nth-of-type(2) {
    fill:black;
    left: 820px;
    width: 4820px;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

main section svg {
    position: absolute;
    height: 820px;
}

.quick-contact {
    height: 270px;
    width: 100%;
    position: relative;
}

.quick-contact svg {
    position: absolute;
    height: 270px;
    width: 4270px;
    fill:black;
    right: 650px;
}

footer .contact {
    background-color: white;
    height: 450px;
    width: 100%;
    margin-top: 50px;
    border-top: 4px solid black;
}