* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    background-color: transparent;
}

.container {
    width: 2560px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 15px rgba(0,0,0,0.7);
    /* border: solid 1px yellow; */
}

header {
    height: 190px;
    width: 100%;
    background-color: black;
}

main section {
    /* border: solid 1px green; */
    height: 820px;
    width: 100%;
    position: relative
}

main section.one {
    background-image: url("../images/001.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60%;
    background-color: white;
}

main section.two {
    background-image: url("../images/002.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-x: -100px;
    background-color: black;
}

main section.three {
    background-image: url("../images/003.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65%;
    background-color: white;
    background-position-x: 1100px;
}

main section.four {
    background-image: url("../images/004.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 60%;
    background-position-x: -50px;
    background-position-y: -150px;
    background-color: black;
}

main section.one svg {
    fill:white;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
    z-index: 2;
}

main section.two svg {
    fill:black;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

main section.three svg {
    fill:white;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
    z-index: 2;
}

main section.four svg.left {
    fill:white;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

main section.four svg.right {
    fill:black;
    filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.7));
}

main section svg {
    position: absolute;
    height: 820px;
    width: 2560px;
}

.quick-contact {
    height: 270px;
    width: 100%;
}

.quick-contact svg {
    position: absolute;
    height: 270px;
    width: 2560px;
}

footer {
    width: 100%;
}

footer .contact {
    background-color: white;
    height: 450px;
    width: 100%;
    margin-top: 50px;
    border-top: 4px solid black;
}